@import "../../../sass/mixins.scss";
@import "../../../sass/variables";

.home-page {
  background: var(--light-blue);
  background-image: url("../../../img/bg.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  position: relative;
  @media (min-width: 992px) {
    padding-bottom: 80px;
    height: 100vh;
  }
  .blue-btn {
    position: absolute;
    left: 0;
    bottom: 20px;
    background: transparent;
    background-image: url("../../../img/blue-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: $spacing-s;
    padding-right: $spacing-xxl;
    padding-left: $spacing-l;
    padding-top: $spacing-s;
    font-family: "Cairo", sans-serif;
    color: var(--white);
    font-size: 2rem;
    @include transition(all, 0.2s, ease);
    @media (max-width: 992px) {
      bottom: 2px;
    }
    @media (min-width: 992px) {
      font-size: 2.1rem;
    }
    @media (min-width: 1200px) {
      font-size: 2.2rem;
    }
    @media (min-width: 1366px) {
      font-size: 2.4rem;
    }
    @media (min-width: 1440px) {
      font-size: 2.6rem;
    }
    @media (min-width: 1920px) {
      font-size: 3rem;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .max-width-container {
    @media (min-width: 992px) {
      height: 100%;
    }
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .loading-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
  .fade-in-with-gsap {
    opacity: 0;
  }
  .row-home {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
    }
  }
  .col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    @media (max-width: 991px) {
      padding: 20px;
    }
    @media (min-width: 992px) {
      padding-left: 15rem;
    }
    .gift-bbox {
      position: absolute;
      width: 23%;
      bottom: 35%;
      left: 0;
      max-width: 40px;
      @media (min-width: 992px) {
        width: 23%;
        bottom: 40%;
        left: 0;
        max-width: 150px;
      }
    }
    .gift-box {
      position: absolute;
      pointer-events: none;
      right: 5px;
      max-width: 40px;
      bottom: 80px;
      @media (min-width: 992px) {
        right: -80px;
        bottom: 100px;
        max-width: 100px;
      }
    }
    .noix {
      position: absolute;
      left: 0;
      top: 10%;
      max-width: 40px;
      @media (min-width: 992px) {
        top: 5%;
        max-width: 140px;
      }
    }
    .peche {
      position: absolute;
      left: 10px;
      top: -10%;
      max-width: 40px;
      @media (min-width: 992px) {
        left: unset;
        top: 18%;
        right: -5%;
        max-width: 140px;
      }
    }
    .pomme {
      position: absolute;
      top: 0;
      max-width: 40px;
      @media (min-width: 992px) {
        top: 7%;
        left: 35%;
        max-width: 70px;
      }
    }
    .vanille {
      position: absolute;
      top: 0;
      right: 20%;
      max-width: 40px;
      @media (min-width: 992px) {
        top: 0;
        right: 35%;
        max-width: 80px;
      }
    }
    .fraise {
      position: absolute;
      top: 5%;
      right: 3%;
      max-width: 30px;
      @media (min-width: 992px) {
        top: 17%;
        right: 20%;
        max-width: 80px;
      }
    }
    .cerise {
      position: absolute;
      top: 30%;
      right: 0;
      max-width: 30px;
      @media (min-width: 992px) {
        top: unset;
        bottom: 17%;
        left: 10%;
        right: unset;
        max-width: 80px;
      }
    }
    .berries {
      position: absolute;
      bottom: 20%;
      left: 5%;
      max-width: 30px;
      @media (min-width: 992px) {
        top: 28%;
        right: 35%;
        max-width: 70px;
      }
    }
  }
  .col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 991px) {
      padding: 20px;
      margin-bottom: 20px;
    }
  }

  .img-container-home {
    position: relative;
    > img {
      padding-bottom: 5rem;
      width: 100%;
      position: relative;
    }
  }
  .logo-nassim {
    max-width: 200px;
    margin-bottom: 10px;
    @media (min-width: 992px) {
      margin-bottom: 40px;
      max-width: 280px;
    }
    @media (min-width: 1200px) {
      max-width: 350px;
    }
    @media (min-width: 1800px) {
      height: 36vh;
    }
    @media (min-width: 1920px) {
      max-width: 500px;
    }
  }
  h1 {
    color: var(--red);
    text-align: center;
    direction: ltr;
    font-weight: bold;
    font-size: 4vh;
    font-family: "arab";
    margin-bottom: 0.5rem;
    @media (min-width: 992px) {
      font-size: 3vh;
    }
    @media (min-width: 1200px) {
      font-size: 4vh;
    }
    @media (min-width: 1920px) {
      font-size: 6vh;
    }
  }
  h2 {
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 2.5vh;
    margin-bottom: 0.5rem;
    @media (min-width: 992px) {
      font-size: 2vh;
    }
    @media (min-width: 1200px) {
      font-size: 3vh;
    }
    @media (min-width: 1920px) {
      font-size: 5vh;
    }
  }
}

.gift-box {
  -webkit-animation: bounce 1s alternate infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounce 1s alternate infinite; /* Firefox < 16 */
  -ms-animation: bounce 1s alternate infinite; /* Internet Explorer */
  -o-animation: bounce 1s alternate infinite; /* Opera < 12.1 */
  animation: bounce 1s alternate infinite;
}
.gift-box2 {
  -webkit-animation: bounce 1s alternate infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounce 1s alternate infinite; /* Firefox < 16 */
  -ms-animation: bounce 1s alternate infinite; /* Internet Explorer */
  -o-animation: bounce 1s alternate infinite; /* Opera < 12.1 */
  animation: bounce 1s alternate infinite;
}

.image {
  -webkit-animation: bounce 1s alternate infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounce 1s alternate infinite; /* Firefox < 16 */
  -ms-animation: bounce 1s alternate infinite; /* Internet Explorer */
  -o-animation: bounce 1s alternate infinite; /* Opera < 12.1 */
  animation: bounce 1s alternate infinite;
}
.image2 {
  -webkit-animation: bounce2 1s alternate infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounce2 1s alternate infinite; /* Firefox < 16 */
  -ms-animation: bounce2 1s alternate infinite; /* Internet Explorer */
  -o-animation: bounce2 1s alternate infinite; /* Opera < 12.1 */
  animation: bounce2 1s alternate infinite;
}

.image3 {
  -webkit-animation: bounce3 1s alternate infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounce3 1s alternate infinite; /* Firefox < 16 */
  -ms-animation: bounce3 1s alternate infinite; /* Internet Explorer */
  -o-animation: bounce3 1s alternate infinite; /* Opera < 12.1 */
  animation: bounce3 1s alternate infinite;
}

@keyframes bounce {
  from {
    padding-left: 0;
  }
  to {
    padding-left: 5px;
    @media (min-width: 992px) {
      padding-left: 10px;
    }
  }
}

@keyframes bounce2 {
  from {
    padding-right: 5px;
    @media (min-width: 992px) {
      padding-right: 10px;
    }
  }
  to {
    padding-right: 0;
  }
}

@keyframes bounce3 {
  from {
    padding-right: 10px;
    @media (min-width: 992px) {
      padding-right: 20px;
    }
  }
  to {
    padding-right: 5px;
    @media (min-width: 992px) {
      padding-right: 10px;
    }
  }
}

/* Firefox < 16 */
@-moz-keyframes bounce {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -40px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bounce {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -40px;
  }
}

/* Internet Explorer */
@-ms-keyframes bounce {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -40px;
  }
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  > a {
    @media (max-width: 991px) {
      margin-bottom: 10px !important;
      display: block;
    }
  }
  > a,
  p {
    direction: rtl;
    color: #153581;
    font-size: 1rem;
    font-weight: "normal";
    margin-bottom: 0;
    text-decoration: none;
    @media (min-width: 992px) {
      font-size: 1.5rem;
    }
    @media (min-width: 1200px) {
      font-size: 2rem;
    }
    @media (min-width: 1920px) {
      font-size: 3rem;
    }
  }
}
