// Body

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #f6f6f6;
$black: #001d35;
$primary-teal: #0b698f;

//spacing

$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-sm: 1.5rem;
$spacing-m: 2rem;
$spacing-l: 3rem;
$spacing-xl: 5rem;
$spacing-xxl: 10rem;
