// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
@import "overide";
@import "./layout.scss";
@import "./fonts.scss";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "ui-elements";
html {
  font-size: 10px;
}

body {
  overflow-y: scroll;
}
button {
  &:focus {
    outline: none;
  }
}
