@import "variables";
.spacer-m {
  margin-top: $spacing-s;
  display: block;
  margin-right: 0;
  padding-right: 0;
  padding: 0;
  width: 1rem;
  @media (min-width: 768) {
    margin-top: $spacing-s;
  }
  @media (min-width: 992px) {
    margin-top: $spacing-m;
  }
}

.max-width-container {
  display: block;
  margin: 0;
  width: 100%;

  @media (min-width: 992px) {
    max-width: 990px;
  }
  @media (min-width: 1100px) {
    max-width: 1100px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
  @media (min-width: 1366px) {
    max-width: 1366px;
  }
  @media (min-width: 1600px) {
    max-width: 1600px;
  }
  @media (min-width: 1920px) {
    max-width: 1900px;
  }
}

.spacer-l {
  margin-top: $spacing-m;
  display: block;
  margin-right: 0;
  padding-right: 0;
  padding: 0;
  width: 1rem;
  @media (min-width: 768px) {
    margin-top: $spacing-l;
  }
  @media (min-width: 992px) {
    margin-top: $spacing-xl;
  }
}
