@import "../../../../sass/mixins.scss";
@import "../../../../sass/variables";

.pink-button {
  border: none;
  border: 2px solid white;
  font-family: "arab";
  color: var(--white);
  padding-left: $spacing-xl;
  padding-right: $spacing-xl;
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
  border-radius: 20rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: rgb(211, 23, 69);
  background: linear-gradient(
    180deg,
    rgba(211, 23, 69, 1) 0%,
    rgba(222, 41, 97, 1) 100%
  );

  .btn-title {
    position: relative;
    z-index: 1;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  &:hover {
    &::before {
      @include transform(translateY(-100px));
    }
    color: var(--white);
  }
  font-size: 4vh;
  line-height: 4vh;
  font-family: "arab";
  @media (min-width: 992px) {
    font-size: 3vh;
    line-height: 3vh;
  }
  @media (min-width: 1200px) {
    font-size: 4.5vh;
    line-height: 4.5vh;
  }
  @media (min-width: 1600px) {
    font-size: 6vh;
    line-height: 6vh;
  }
}
